@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: 'HelvNeueBackup';
    src: url('/helvneuepro5.otf') format('opentype');
}

:root {
    --font-sans: 'Google Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

    --color-bg: #222222;

    --font-color-dark: #222222;
    --font-color-light: #b4b4b4;
    --font-color-heading: white;

    --border-light: 1px solid rgba(255, 255, 255, 0.096);

    --color-red: #c30d0d;
}

html {
    background-color: var(--color-bg);
    padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.11);
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
button {
    font-family: var(--font-sans);
    font-size: 12pt;
}
a {
    color: var(--font-color-light);
    font-family: var(--font-sans);
    -webkit-tap-highlight-color: transparent;
    /* Removes highlight on mobile */
    transition: .3s;
    text-decoration: none;
}

p {
    color: var(--font-color-light);
    font-family: var(--font-sans);
    line-height: 1.7em;
    padding: 0px;
    margin: 0px;
}

b {
    font-family: var(--font-sans);
    font-weight: bold;
}

h1 {
    color: var(--font-color-heading);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 80pt;

        padding: 0px;
    margin: 0px;
}

h2 {
    color: var(--font-color-heading);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 34pt;
    padding: 0px;
    margin: 0px;
}

h3 {
    color: var(--font-color-heading);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 28pt;
    padding: 0px;
    margin: 0px;
}

h4 {
    color: var(--font-color-heading);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 24pt;
    padding: 0px;
    margin: 0px;
}

h5 {
    color: var(--font-color-heading);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 18pt;
    padding: 0px;
    margin: 0px;
}

button {
    font-family: var(--font-sans);
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    /* Removes highlight on mobile */
}
ul {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    display: block;
}
li {
    color: var(--font-color-light);
    font-family: var(--font-sans);
    line-height: 1.7em;
    padding: 0px;
    margin: 0px;
    font-weight: 450;
}

.inBagButton {
    display: flex;
    align-items: center;

}

.inBagButton p {
    padding: 0px;
    margin: 0px;
    color: #d6d6d6;
    white-space: nowrap;
    margin-left: 5px;
}

.wrapPoint {
    width: 25px;
    margin-left: 8px;
    position: relative;
}

.minipoint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5px;
    animation: golefthard .5s infinite alternate;
}

.breadCrumbFlex {
    display: flex;
    justify-content: space-between;
}


@keyframes golefthard {
    0% {
        transform: translate(-50%, -50%) translateX(-3px);
    }

    100% {
        transform: translate(-50%, -50%) translateX(0px);
    }
}

@media (max-width: 1200px) {
    h2 {
        font-size: 32pt;
    }
}
@media (max-width: 700px) {
    h2 {
        font-size: 30pt;
    }
}
@media (max-width: 500px) {
    h2 {
        font-size: 26pt;
    }
}

