.addTrackPreview_wrapper {
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
}

.addTrackPreview_backgroundImage {
    position: absolute;
    min-width: 150%;
    min-height: 150%;
    filter: blur(20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -2;
}

.addTrackPreview_container {
    max-width: 1250px;
    margin: auto;
    padding: 0 25px;

    display: flex;
    align-items: center;
    gap: 25px;
}

.addTrackPreview_artwork {
    width: 260px;
    flex-shrink: 0;
}

.addTrackPreview_trackDetails {
    flex: 1;
    min-width: 0;
}

.addTrackPreview_keyBpm {
    opacity: 0.75;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.addTrackPreview_title {
    margin: 8px 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.addTrackPreview_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.addTrackPreview_destinations {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.wrapFDLogo {
    display: flex;
    align-items: center;
}

.bottomFader {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: -1;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        #22222277 50%,
        #222 100%
    );

    pointer-events: none;
}

.topFader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: -1;

    background: linear-gradient(
        to bottom,
        #222 0%,
        #22222277 50%,
        transparent 100%
    );

    pointer-events: none;
}

@media (max-width: 720px) {
    .addTrackPreview_wrapper {
        padding-top: 75px;
        padding-bottom: 40px;
    }

    .addTrackPreview_container {
        gap: 15px;
    }
    .addTrackPreview_container {
        flex-direction: column;
    }
    .addTrackPreview_artwork {
        width: 100%;
    }
    .addTrackPreview_trackDetails{
        width: 100%;
    }

}

@media (max-width: 575px) {
    .addTrackPreview_container {
        padding: 0 15px;
    }
}