.mbp_container {
    max-width: 1250px;
    padding: 0 25px;
    margin: auto;
    margin-top: 75px;

}

.goToAddButton {
    margin: 0 auto 25px auto;
    max-width: 500px;
    width: 100%;
}

/* Responsive grid – all children same width */
.mbp_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.wrapBeatChild {
    width: 100%;
    max-width: 100%;
}
.mbp_fetchMore{
    margin: auto;
    width: fit-content;
    margin-bottom: 50px;
}
.mbp_topper{
    margin: auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.mbp_subtitle{
    margin-top: 15px;
}

@media(max-width: 780px) {
    .mbp_grid {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        gap: 15px;
    }
}
@media(max-width:575px){
    .mbp_container {
        padding: 0 15px;
    }
}