FRONTEND_URL=http://localhost:1234
ALLOWED_ORIGINS=https://website.com,https://website2.com,http://website3.com

ACTIVE_PIN=000000 //just a 6 digit pin


ACCESS_SECRET="anysecretyouwant"
REFRESH_SECRET="anysecretyouwant"
STREAM_SECRET="anysecretyouwant"


// below you must get from firebase...

FIREBASE_PROJECT_ID="enterhere"
FIREBASE_PRIVATE_KEY_ID="enterhere"
FIREBASE_PRIVATE_KEY="enterhere"
FIREBASE_CLIENT_EMAIL="enterhere"
FIREBASE_CLIENT_ID="enterhere"
FIREBASE_STORAGE_BUCKET="enterhere"