.mobileScreenshotWrapper {
    max-width: 1250px;
    padding: 0 25px;
    margin: auto;
}

.mobileScreenshotMegaWrap {
    width: 100%;
}

.mobileScreenshotSwiperInstance,
.mobileScreenshotSwiperInstance .swiper-wrapper,
.mobileScreenshotSwiperInstance .swiper-slide {
    box-sizing: border-box;
}

.mobileScreenshotSlide {
    font-size: 18px;
    cursor: grab;
    user-select: none;
    border-radius: 10px;
    border: 1px solid rgba(92, 92, 92, 0.5);
    display: flex;
}

.mobileScreenshotImageContainer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.mobileScreenshotImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.mobileScreenshotSwiperInstance {
    overflow: visible !important;
}

.mobileScreenshotLocation {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mobileScreenshotDots {
    display: flex;
    align-items: center;
}

.mobileScreenshotDot {
    height: 6px;
    width: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.25s ease;
    border: none;
    opacity: 0.7;
}

.mobileScreenshotDot:hover {
    opacity: 1;
}

.mobileScreenshotDot.active {
    background: #ffffff;
    opacity: 1;
}

.mobileScreenshotButtons {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
}

.mobileScreenshotButtonPrev {
    transform: rotate(180deg);
    padding-top: 3px;
}
.nonDots{
    display: none;
}
@media (max-width: 750px) {
    .mobileScreenshotDots{
        display: none;
    }
    .nonDots{
        display: block;
    }   
}
@media(max-width: 650px){
    .mobileScreenshotWrapper{
        padding: 0px 15px;
    }
}