.notification_container {
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .3s;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: none;
    box-shadow: 0px 0px 25px black;
    
}
.notification_megaIconContainer {
    width: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #cacaca8f;
}
.notification_color {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 4px;
    border-radius: 8px;
    background-color: #0091ff;
}
.notification_iconContainer {
    padding: 10px 0px 5px 0px;
}
.holdNotiTitle {
    width: calc(100% - 50px);
    white-space: wrap;
    display: block;
}
.noteMessageSide {
    width: calc(100% - 100px);
    padding: 5px 0px;
}
.messageCloseFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 0px;
}
.notification_title {
    font-size: 12pt;
    font-weight: bold;
    color: #222222;
}
.notification_message {
    color: #404040;
    font-size: 11pt;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.notification_container.error .notification_megaIconContainer .notification_color {
    background-color: #d63232;
}
.notification_container.warning .notification_megaIconContainer .notification_color {
    background-color: #ff9f0a;
}
.notification_container.success .notification_megaIconContainer .notification_color{
    background-color: #30d158;
}
.notification_container.neutral .notification_megaIconContainer .notification_color {
    background-color: #0091ff;
}
.notificationIcon {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    position: relative;
}
