.uppabutta {
    border: 1px solid #cacaca;
    background-color: transparent;
    width: 100%;
    padding: 13px 18px;
    border-radius: 5px;
    position: relative;
    color: #6e6e6e;
    display: flex;
    justify-content: center;
    transition: .3s;
}
.uppabutta:hover{
    cursor: pointer;
    border: 1px solid #7a7a7a;
}

.noUploadText{
    color: #848484;
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
    position: relative;
    font-size: 9pt;
    margin-top: 2px;
}
.upfilenametedxt {
    white-space: nowrap;
    margin: 1px 0px;
    padding: 0px;
    text-align: left;
    max-width: calc(100% - 10px);
    font-size: 9pt;
    overflow: hidden;
    text-overflow: ellipsis;

}
.inputError {
    line-height: 1em;
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    padding: 0px 16px;
    color: #f94040;
    margin-bottom: 8px;
}
.error {
    border-color: #f94040;
}
.error:hover {
    border-color: #f94040;
}
.uploaderLabel {
    position: absolute;
    font-family: "HelvNeue", sans-serif;
    color: #1b1b1b;
    top: -10px;
    left: 15px;
    display: block;
    width: fit-content;
    font-size: 9pt;
    font-weight: 400;
    background-color: #eeeeee;
    padding: 0px 4px;
    transition: .3s;
    margin: 0px;
}
.error .imageAFlex .noUploadText {
    color: #f94040;

}
.error .uploaderLabel {
    color: #f94040;
}
.error .noUploadText {
    color: #f94040;
}
.remoBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}   
.abf{
    display: flex;
    color: #515151;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    width: calc(100%);
    width: fit-content;
    position: relative;
}
.flexuptext{
    position: relative;
    width: calc(100% - 80px);
    height: fit-content;
    margin-top: 3px;
}
.bwithup {
    padding: 8px 10px 8px 20px;
}