 .containProjectDetails{
        margin: auto;
        max-width: 100%;
        overflow: hidden;
        padding-top: 60px;
    }

    h1 {
        font-size: 28pt;
    }
    h2 {
        font-size: 24pt;
        margin-bottom: 10px;
    }
    p {
        font-size: 12pt;
        opacity: .6;
    }
    .wrapProjectInfo{
        max-width: 1250px;
        padding: 0px 25px;
        margin: auto;
    }
    .wrapGit{
        width: fit-content;
        margin: auto;
        width: 100%;
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px;
        background-color: #222222;
        z-index: 5;

    }

    .wrapGotoLoginButton{
        width: 100%;
        max-width: 250px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 40px;

    }
    .wrapGit {
        position: fixed;
        top: 0px;

    }
    .insideGitter{
        margin: auto;
        width: 100%;
        max-width: 1250px;
        padding: 0px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bottomGit{
        width: fit-content;
        margin: auto;
        margin-bottom: 40px;
    }
    @media(max-width: 500px){
        h2 {
            font-size: 18pt;
        }
    }
    @media(max-width: 650px){
        h1 {
            font-size: 24pt;
        }
        .wrapGotoLoginButton{
            width: calc(100% - 30px);
            max-width: 100%;
            padding: 0px 15px;
        }
        .wrapProjectInfo{
            padding: 0px 15px;
        }
        .insideGitter{
            padding: 0px 15px;
        }
    }