/* Your existing input styles */
.artistSearchInput {
    padding: 0px;
    margin: 0px;
    width: calc(100% - 60px);
    color: #cacaca;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 17px 20px 15px 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    font-size: 11pt;
}
.artistSearchInput::placeholder {
    color: #848484;
}
.isSearchOpen .artistSearchInput {
    border-bottom: 1px solid #404040;
}

/* Container */
.wrapSearchAndArtists {
    border: 1px solid #424242;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    background-color: #222222;
    width: 100%;
    z-index: 5;
}

/* The dropdown: closed by default */
.allArtists {
    max-height: 0px;
    overflow: hidden;
}

/* When isSearchOpen = true, expand the results container */
.wrapSearchAndArtists.isSearchOpen .allArtists {
    max-height: 250px; /* Or 'fit-content' if you prefer, but beware cross-browser issues */
    overflow-y: scroll;
}
.allArtists::-webkit-scrollbar {
    width: 5px; /* or whatever width you'd like */
}
.allArtists::-webkit-scrollbar-track {
    background: #222222;   
    border-radius: 5px;
}

.allArtists::-webkit-scrollbar-thumb {
    background: #3088be;         
    border-radius: 4px;       
}

.allArtists::-webkit-scrollbar-thumb {
    background: #848484;       
}
.artistButton {
    border: none;
    display: block;
    width: 100%;
    padding: 7px 20px 6px 20px;
    /* width: 100%;be */
    display: block;
    margin: 0px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #404040;
    font-size: 11pt;
    background-color: #222222;
}
.artistButton:hover {
    background-color: #e3e3e31e;
}
.artistButton:focus {
    outline: none;
    background-color: #e3e3e3;

}

/* Optional: A bit of styling while open */
.wrapSearchAndArtists.isSearchOpen {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.111);
}

.noResults {
    padding: 10px;
    color: #666666;
}
.searchClose {
    position: absolute;
    top: 25px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    padding: 5px;
    padding-top: 7px;
    cursor: pointer;
    border: none;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.searchClose:hover {
    background-color: transparent;
}
.mag {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 12px;
}
.lastArtist {
    border-bottom: none;
}
@media (max-width: 650px){
    .wrapSearchAndArtists {
        display: block;
        position: relative;
        margin-bottom: 5px;
    }

    .wrapSearchAndArtists.isSearchOpen .allArtists {
            max-height: calc(100vh - 460px);
        overflow-y: scroll;
    }
}
@media(pointer: coarse) {
    .artistButton:hover {
        background-color: transparent;
    }
    .artistButton:focus {
        background-color: transparent;
    }
}