.wrapModeFilter {
    position: relative;
    background-color: #222222;
    z-index: 5;
}
.moderTop {
    padding-top: 3px;
    display: flex;
    cursor: pointer;
    transition: .3s;
    border: none;
    opacity: .7;
    background-color: transparent;
}
.moderTop:hover {
    opacity: 1;
}

.rrMode {
    transition: .3s;
    height: 24px;
    width: 24px;
    position: relative;
}
.wA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding-right: 5px;
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    padding-top: 3px;
    transition: .3s;
}
.modeList {
    position: absolute;
    top: calc(100% + 10px);
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    height: 0px;
    transition: .3s;
    background-color: #222222;
}
.modeePop {
    width: 100%;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #404040;
    padding: 7px 20px ;
    cursor: pointer;
    background-color: transparent;
}
.modeePop:hover {
    background-color: #313131;
}
.inMode {
    display: flex;
    margin-top: 2px;
    align-items: center;
}
.moderOpen {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    height: 250px;   
    overflow-y: scroll;
}
.modeSpin {
    transform: translate(-50%, -50%) rotate(270deg);

} 
.activeMode {
    background-color: #3a3a3a;
}
.moderOpen::-webkit-scrollbar {
    width: 5px; /* or whatever width you'd like */
}
.moderOpen::-webkit-scrollbar-track {
    background: #222222;   
    border-radius: 5px;
}

.moderOpen::-webkit-scrollbar-thumb {
    background: #3088be;         
    border-radius: 4px;       
}

.moderOpen::-webkit-scrollbar-thumb {
    background: #848484;       
}
.spinner {
    transform: rotate(270deg);
} 
.lastModeOption {
    border-bottom: none;
}
.filtHeadT {
    padding-top: 3px;
}
.keyOpButton:hover .inMode .modeBox {
    background-color: #3a3a3a;
}
.activeMode .inMode .modeBox {
    background-color: #f7f7f7;
}
.activeMode:hover .inMode .modeBox {
    background-color: #f7f7f7;
}
.modeBox {
    height: 12px;
    width: 12px;
    border-radius: 3px;
    border: 1px solid #404040;
    margin-bottom: 2px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}
.activeMode .inMode .modeBox .wrapCheck {
    display: block;
}
.modTOpen {
    opacity: 1;
}
.screenBlocker {
    position: fixed;
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
    background: transparent;
    z-index: 3; /* higher than other elements, lower than your dropdown if needed */
    pointer-events: all;
  }
  .nermode {
    color: #cacaca;

  }
@media(max-width: 950px){
    .modeList {
        position: relative;
        box-shadow: 0px 0px 0px transparent;
        width: 100%;
    }
    .moderOpen {
        height: 300px;   
        max-height: calc(100vh - 460px);
        width: 100%;
        overflow-y: scroll;
        box-shadow: 0px 0px 0px transparent;
        box-shadow: none;
    }
    .moderTop {
        width: calc(100%);
        justify-content: space-between;
        padding: 0px;
        
    }
    .wrapModeFilter {
        padding: 10px 0px;
        border-top: 1px solid #404040;
    }
    .filtHeadT {
        opacity: 1;
        font-weight: bold;
    }
    .nermode {
        font-size: 10pt;
        opacity: .7;
    }
    .modeePop {
        border-bottom: none;
        padding: 3px 10px;
    }
    .filtHeadT {
        font-size: 12pt;
    }    
    .nermode {
        font-size: 11pt;
        opacity: 1;

    }
    .moderTop {
        opacity: 1;
    }
}
@media (pointer: coarse){

    .modeePop:hover {
        background-color: transparent;
    }
    .modeePop:hover .inMode .modeBox {
        background-color: transparent;
    }
}
