.ebf_container{
    margin: auto;
    max-width: 1250px; 
    margin-bottom: 125px;
}
.ebf_formArea{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.ebf_detials{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ebf_files{
    width: 50%;
}
.ebf_bpmKeyMode{
    display: flex;
    width: 100%;
    gap: 20px;
}
.ebf_bpm{
    width: 40%;
}
.ebf_mode{
    width: 35%;
}
.ebf_key{
    width: 25%;
}
.ebf_tagFlex{
    display: flex;
    gap: 20px;
}
.ebf_tag{
    width: 50%;
}
.ebf_customTagFlex{
    display: flex;
    gap: 20px;
}
.ebf_color{
    width: 40%;
}
.ebf_customTag{
    width: 60%;
}
.ebf_submitButton{
    margin-top: 20px;

}
.ebf_containDeleteTrackForm{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row-reverse;
}
.ebf_error{
    margin-top: 15px;
    color: var(--color-red);
}