
.notpadForm_textarea{
    max-height: calc(100vh - 500px);
    overflow-y: scroll;
    overflow-x: visible;
    margin-top: 25px;
}


.notpadForm_textarea::-webkit-scrollbar {
    width: 0px;
}

.notpadForm_textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.notepadForm_submitButton{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .wrapSaveButton {
        width: 100%;
    }
    
}