.wraplogopin {
    width: fit-content;
    margin: auto;
    width: 150px;
}
.holdPIN {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    color: #f7f7f759;
}
.wrapPINForm {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.wrapPinErrorMessage{
    margin-top: 50px;
}

.wrapIpChecker{
    margin: auto;
    text-align: center;
    width: 90%;
    margin-top: 50px;
    max-width: 300px;
}
.pinError{
    margin: auto;
    width: 85%;
    max-width: 500px;
    text-align: center;
}
@media (max-width: 600px){
    .wrapPINForm {
        top: 45%;
    }
}