.ab_container {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    padding-top: 165px;
    padding-bottom: 115px;
}

.ab_inside {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    max-width: 1250px;
    margin: 0 auto;
    width: calc(100% - 50px);
    padding: 0 25px;
}

.ab_track {
    flex: 1 1 0;
    min-width: 0;
    max-width: 600px;
}

/* ========================================= */
/* BACKGROUND                                */
/* ========================================= */

.ab_background {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.ab_trackA_background,
.ab_trackB_background {
    position: absolute;
    inset: 0;
    z-index: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    filter: blur(20px) saturate(250%);

    transform: scale(1.08);

    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    pointer-events: none;
}

.ab_trackASelected {
    opacity: 0.1;
}

/* ========================================= */
/* TOP / BOTTOM FADES                        */
/* ========================================= */

.ab_topFade,
.ab_bottomFade {
    position: absolute;
    left: 0;
    z-index: 1;

    width: 100%;

    pointer-events: none;
}

.ab_topFade {
    top: 0;
    height: 35%;

    background: linear-gradient(to bottom,
            #222222 0%,
            rgba(34, 34, 34, 0.95) 20%,
            rgba(34, 34, 34, 0.5) 65%,
            transparent 100%);
}

.ab_bottomFade {
    bottom: 0;
    height: 25%;

    background: linear-gradient(to top,
            #222222 0%,
            rgba(34, 34, 34, 0.95) 20%,
            rgba(34, 34, 34, 0.5) 65%,
            transparent 100%);
}

/* ========================================= */
/* TOGGLER                                   */
/* ========================================= */

.ab_toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100px;
    flex: 0 0 100px;
    align-self: stretch;
}

.ab_error {
    margin: auto;
    color: var(--color-red);
    text-align: center;
}

@media (max-width: 1200px) {
    .ab_inside {
        flex-direction: column;
        gap: 5px;
    }

    .ab_track {
        width: 100%;
    }

        .ab_toggler {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
    }
    

    .ab_container {
        padding-top: 100px;
        padding-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .ab_inside {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
    .ab_container{
        padding-top: 80px;
    }

    .ab_toggler{
        width: 100%;
        justify-content: space-evenly;
    }
}