.apc_container{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}
@media (max-width: 850px) {
    .apc_container{
        margin: auto;
                margin-top: 25px;
        margin-bottom: 15px;
        width: 250px;
    }
    
}
@media (max-width: 500px) {
    .apc_container {
        width: 60%;

    }
    
}