.bts_container {
    max-width: 100%;
    width: fit-content;
    display: flex;
    gap: 8px;

    overflow-x: auto;
    overflow-y: hidden;

    flex-wrap: nowrap;
    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;

    scrollbar-width: none;

    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    touch-action: pan-x;
}

.bts_container.isDragging {
    cursor: grabbing;
}

.bts_container::-webkit-scrollbar {
    display: none;
}

.bts_container :global(*) {
    flex: 0 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}