.ht_wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 25px;
}

.ht_insideContainer {
    max-width: 1250px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.ht_background {
    position: absolute;
    min-width: 115%;
    min-height: 115%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    filter: blur(20px) saturate(250%);
}

.ht_topFade,
.ht_bottomFade {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    color: #f7f7f736;
}

.ht_topFade {
    top: 0;
    height: 25%;
    background: linear-gradient(to bottom, #222222, transparent);
}

.ht_bottomFade {
    bottom: 0;
    height: 45%;
    background: linear-gradient(to top, #222222, transparent);
}

.ht_artworkContainer {
    display: flex;
    width: 350px;
    height: fit-content;
    border-radius: 8px;

    overflow: hidden;
}

.ht_artworkButton {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;

    padding: 0;
    margin: 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.541);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.ht_artworkButton:focus,
.ht_artworkButton:focus-visible,
.ht_artworkButton:active {
    outline: none;
    border: none;
}

.ht_albumOverlay{
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: .3s;
}
.ht_largePP{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ht_artworkButton:hover .ht_albumOverlay {
    opacity: 1;
}

.ht_trackInfo {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.ht_title {
    width: 100%;
    overflow: hidden;
    font-size: 60pt;
    white-space: nowrap;
    line-height: 1.15em;
    text-overflow: ellipsis;
}


.ht_stateAndKey{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ht_keyAndMode{
    font-size: 10pt;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ht_mobileRange{
    display: none;
}
@media (max-width: 1000px) {
    .ht_title {
        font-size: 45pt;
    }
    
}
@media (max-width: 850px) {
    .ht_insideContainer{
        flex-direction:column;   
    }
    .ht_artworkContainer{
        width: 100%;
        margin: auto;
        max-width: 550px;
    }
    .ht_trackInfo {
        width: 100%;
        margin: auto;
        max-width: 550px;
        margin-top: 25px;
    }
    .ht_title {
        font-size: 35pt;
    }
    .ht_wrapper{
        padding-top: 35px;
    }
}
@media (max-width: 750px) {
        .ht_wrapper{
        padding-top: 25px;
    }
}
@media (max-width: 650px) {
    .ht_title {
        font-size: 25pt;
    }
    .ht_stateAndKey{
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .ht_deskRange{
        display: none;
    }
    .ht_mobileRange{
        display: block;
    }

}