.ht_wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 25px;
}

.ht_insideContainer {
    max-width: 1250px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.ht_background {
    position: absolute;
    min-width: 150%;
    min-height: 150%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    filter: blur(10px);
}

.ht_topFade,
.ht_bottomFade {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    color: #f7f7f736;
}

.ht_topFade {
    top: 0;
    height: 25%;
    background: linear-gradient(to bottom, #222222, transparent);
}

.ht_bottomFade {
    bottom: 0;
    height: 45%;
    background: linear-gradient(to top, #222222, transparent);
}

.ht_artworkContainer {
    display: flex;
    width: 350px;
    height: fit-content;
}

.artPlayPause {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.541);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.artPlayPause:focus,
.artPlayPause:focus-visible,
.artPlayPause:active {
    outline: none;
    border: none;
}

.ht_trackInfo {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ht_title {
    width: 100%;
    overflow: hidden;
    font-size: 60pt;
    white-space: nowrap;
    line-height: 1.15em;
    text-overflow: ellipsis;
}


.ht_stateAndKey{
    display: flex;
    align-items: center;
    gap: 15px;
}
