/* container & label */

.colorSelectContainer {
    position: relative;
}

.colorSelectZTop {
    z-index: 5;
}

.colorSelectSpacer {
    height: 44px;
}

.colorSelectLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 11pt;
    opacity: 1;
    padding: 0;
    color: #b3b3b3;
}

.colorSelectHasError .colorSelectLabel {
    color: #f94040;
}

/* button */

.colorSelectButton {
    display: block;
    background-color: #222222;
    border: 1px solid #81818149;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    bottom: 0;
    cursor: pointer;
    box-shadow: 0 0 0 1px transparent;
}

.colorSelectButton.colorSelectOpen {
    box-shadow: 0 0 0 1px #b8b8b8;
}

/* selected text */

.colorSelectText {
    margin: 0;
    text-align: left;
    margin-bottom: 0;
    padding: 14px 40px 14px 14px;
    color: #6e7075;
    font-size: 11pt;
    border-radius: 4px;
    line-height: 1em;
    transition: color 0.3s ease;
}

.colorSelectHasSelection {
    color: #f7f7f7;
}

.colorSelectTextOpen {
    border-radius: 0;
}

/* arrow */

.colorSelectArrowWrapper {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 12px;
    right: 10px;
    transition: 0.3s;
}

.colorSelectArrowContainer {
    position: absolute;
    padding-top: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: 0.3s;
}

.colorSelectArrowRotated {
    transform: translate(-50%, -50%) rotate(270deg);
}

/* dropdown / scroll */

.colorSelectOptions {
    max-height: 30vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(248, 248, 248, 0.25) transparent;
    position: absolute;
    width: calc(100% - 2px);
    background-color: #292929;
    border-radius: 4px;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
    top: calc(100% + 8px); /* default: open DOWN */
    bottom: auto;
}

.colorSelectOptions.colorSelectOpenUp {
    top: auto;
    bottom: calc(100% + 8px);
}

.colorSelectOptions.colorSelectOptionsOpen {
    box-shadow: 0 0 0 1px #b8b8b8;
}

/* scrollbars */

.colorSelectOptions::-webkit-scrollbar {
    width: 6px;
}

.colorSelectOptions::-webkit-scrollbar-thumb {
    background-color: rgba(216, 19, 19, 0.877);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.colorSelectOptions:hover::-webkit-scrollbar-thumb,
.colorSelectOptions:active::-webkit-scrollbar-thumb {
    background-color: rgba(71, 172, 4, 0.25);
}

.colorSelectOptions {
    scrollbar-width: thin;
}

.colorSelectOptions:hover {
    scrollbar-color: rgba(175, 175, 175, 0.568) transparent;
}

/* option buttons */

.colorSelectOptionButton {
    padding: 10px 20px;
    background-color: #222222;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #75757523;
}

.colorSelectOptionButton:hover {
    cursor: pointer;
    background-color: #292929;
}

.colorSelectOptionPicked {
    background-color: rgba(97, 97, 97, 0.596);
}

.colorSelectOptionPicked p {
    color: white;
}

.colorSelectOptionPicked:hover {
           background-color: rgba(97, 97, 97, 0.596);


}

.colorSelectLabel p {
    color: #b3b3b3;
}

/* color row */

.colorSelectRow {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.colorSelectDot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #555;
    margin-bottom: 2px;
}

.colorSelectTextWrapper {
    width: calc(100% - 30px);
    overflow: hidden;
}

.colorSelectTextWrapper p {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectedColorRow{
    padding-left: 18px;
}

.colorSelectHasSelection {
    padding-left: 0px;
    margin-left: 0px;
    color: #d1d1d1;
}