.nav_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    transition: .3s;
    border-bottom: 1px solid transparent;

}

.nav_inside {
    margin: auto;
    max-width: 1250px;
    padding: 15px 25px;
    transition: .3s;

}

.nav_pattsway {
    padding-top: 5px;
}

.nav_noUserFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_rightFlex {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav_scrolled {
    transition: .3s;
    background-color: #222;
    border-bottom: var(--border-light);
}

.nav_mobileToggle {
    display: none;
}

.nav_userFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_githubFlex {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* mobile nav */
@media (max-width: 750px) {
    .nav_rightFlex {
        display: none;
    }

    .nav_mobileToggle {
        display: block;
    }
}
@media (max-width: 600px) {
    .nav_inside{
        padding: 15px;
    }
    
}