.nav_container{
    position: fixed;
    width: 100%;
    z-index: 99;
    
}

.nav_inside{
    margin: auto;
    max-width: 1250px;
    padding: 10px 25px;
    transition: .3s;

}
.nav_pattsway{
    padding-top: 5px;
}
.nav_noUserFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_rightFlex{
    display: flex;
    gap: 25px;
    align-items: center;
}
@media (max-width: 650px) {
    .nav_inside{
        padding: 0px 15px;
    }
}